<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        .main {
            text-align: center;
            margin-top: 50px;
        }

        #btn {
            padding: 10px 20px;
            font-size: 18px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="main">
        <button id="btn">employee</button>
    </div>
</body>
<script>
    const butt = document.querySelector("#btn");

    butt.addEventListener("click", () => {
        var userInput = prompt("Please enter your name:", "John Doe");
        if (userInput !== null) {
            console.log("User's name is " + userInput);
        }
    });
</script>
</html>
